{% extends "base.html" %}
{% from "_forms.html" import render_field %}

{% block title %}freets.me - Register{% endblock %}

{% block banner %}
{% endblock %}

{% block page_content %}
        
<h1>Sign up</h1>
<form method=post>
  {{ render_field(form.email) }}
  {{ render_field(form.username) }}
  {{ render_field(form.location) }}
  {{ render_field(form.password) }}
  {{ render_field(form.password2) }}
  {{ form.hidden_tag() }}
  <input class="btn" type=submit value="Sign Up">
</form>

{% endblock %}
