body, html {
  height: 100%;
}

.jumbotron {
  background-color: rgba(255,255,255, .8);
}

#full-cont {
  min-height: 400px;
  height:100%;
  vertical-align:middle;
}

#content {
  float: none;
  margin: 0 auto;
  background-color: #FFF;
  min-height: 100%;
}

#float-box {
  padding-top: 90px;
}


.footer {
  padding: 10px;
  background-color: #333;
}
.footer .list-inline li{
  font-color: #fff;
}

.vertical-center {
  min-height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.full {
  background: url('../images/home-scroll/home03.jpg') no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-primary {
  background-color: #AA4839;
  border-color: #802415;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #802415;
  border-color: #802415;
}

.btn-danger {
  background-color: #AA4839;
  border-color: #802415;
}

.btn-danger:hover {
  background-color: #802415;
  border-color: #802415;
}

.btn-success {
  background-color: #AA5C39;
  border-color: #803615;
}

.btn-success:hover, .btn-success:active {
  background-color: #803615;
  border-color: #803615;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #2A7E43;
  border-color: #2A7E43;
}

.panel-primary>.panel-heading {
  background-color: #AA4839;
  border-color: #AA4839;
}

.panel-primary {
  border-color: #AA4839;
}

a {
  color: #AA4839;
  text-decoration: none;
}

a:hover {
  color: #802415;
  text-decoration: none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background-color: #AA4839;
}
