body {
  padding-top: 70px;
}

.jumbotron {
  background-color: rgba(255,255,255, .6);
}

.wide {
  background: url('../images/home-scroll/home01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
