html, body {
  height: 100%;
}

.jumbotron {
  background-color: rgba(255,255,255, .6);
}

#full-cont {
  height:100%;
  vertical-align:middle;
}

#content {
  padding-top:90px;
  float: none;
  margin: 0 auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.full {
  background: url('../images/home-scroll/home01.jpg') no-repeat center center fixed;
  height: 100%;
  vertical-align:middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-group #location {
  font-size: 24pt;
  height: 42pt;
}

.dropdown-menu {
  width: 75%;
  font-size: 24pt;
}
