/* Nav bar */

svg #logo{
  fill: white;
}

nav svg#logo {
  padding: 8px;
  margin: 0;
}

.container h1 {
  color: #FFF;
}


.input#search-location {
  border-bottom: 1px solid #FFF;
  border-shadow: 0px 1px 0px 0px #FFF;
}

ul.autocomplete li.active {
  background-color: #DDD;
}

/* Parallax / header */

#home-banner {
  display: block;
  color: #FFF;
}

.parallax-container {
  height: auto;
}

ul.autocomplete {
  @extend .collection;
  position: absolute;
  top: 0px;
  background-color: color("shades", "white");
}

ul.autocomplete li {
  @extend .collection-item;
}

/* abs or it gets moved down on resize */
.parallax img{
  position: absolute;
  display: block;
  min-height: 100%;
}

.parallax {
  position: absolute;
}

.icn i{
  font-size: 128px;
}

#desc {
  margin-top: 20px;
}

#logo {
  margin: 20px 0;
}

#home-card {
  padding: 20px 0;
}

.usr {
  color: color("shades", "white");
  font-size: 128px;
}

/* footer */

footer.page-footer {
  padding: 10px 0;
  color: #EEE;
  margin-top: 0;
}

.page-footer ul {
  margin: 0;
}

.page-footer li a {
  color: #EEE;
  font-size: 1.3em;
}

.page-footer i {
  padding-right: 10px;
}

