<html>

<head>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='mjs/materialize.min.js')}}"></script>

  <title>
    {% block title %}freets.me{% endblock %}
  </title>

  {% block head %}
    <link class="ui" href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet"></link>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  {% endblock %}
</head>

<body class="freets-yellow">

{% block navbar %}

<nav role="navigation">


  <div class="nav-wrapper z-depth-1">
    <div class="container">

      <a href="{{ url_for('main.index') }}"><img class="brand-logo" height="70%" src="{{ url_for('static', filename='images/logos/freetsme.svg') }}"></a>


      <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

      <ul class="right hide-on-med-and-down">
        {% if current_user.is_authenticated() %}

        <!-- Dropdown -->
        <ul id="nav-dropdown" class="dropdown-content">
          <li><a href="{{ url_for('main.user', username=current_user.username) }}">View Profile</a></li>
          {% if current_user.role_id == 1 %}
            <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
          {% endif %}
          <li><a href="{{ url_for('main.edit_profile') }}">Edit Profile</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        
        </ul>

        <li><a class="dropdown-button" href="#!" data-activates="nav-dropdown">
          <i class="mdi-action-perm-identity left"></i>
          {{current_user.username}}
          <i class="mdi-navigation-arrow-drop-down right"></i>
        </a></li>

        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        {% endif %}
      </ul>

      <ul class="side-nav" id="mobile-menu">
        {% if current_user.is_authenticated() %}

        <li><a href="{{ url_for('main.user', username=current_user.username) }}">View Profile</a></li>
        {% if current_user.role_id == 1 %}
          <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
        {% endif %}
        <li><a href="{{ url_for('main.edit_profile') }}">Edit Profile</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>

        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% endblock %}<!-- / navbar _-->

<main class="content">

{% block banner %}
  <div class="parallax-container">
    <div id="home-banner" class="section">
      <div class="container">
        <div class="row center">
          <div class="col s12">

            {% block banner_content %}
            {% endblock %}

          </div><!-- / col -->
        </div><!-- / row -->
      </div><!-- / container -->
    </div><!-- / home-banner -->

    <div class="parallax"><img src="{{ url_for('static', filename='images/pat1.png') }}"></div>


  </div>
{% endblock %}

{% block content %}

  <div class="section freets-yellow">
    <div class="container">
      <div class="section white">
        <div class="container">
          {% block page_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}
</main><!-- / content -->


{% block footer %}
<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        I like (free) pizza
      </div>
      <div class="col s12 m4 right-align">
        <ul id="footer-list">
          <li><a href="#"><i class="mdi-action-home"></i>Home</a></li>

          <li><a href="#"><i class="mdi-action-help"></i>About</a></li>

          <li><a  href="#"><i class="mdi-hardware-computer"></i>Developers</a></li>


        </ul>
      <div>
    </div>

  </div>
</footer>
{% endblock %}


{% block scripts %}


<script type="text/javascript" src="{{ url_for('static', filename='js/freets.js') }}"></script>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-autocomplete.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/load.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='mjs/materialize.min.js')}}"></script>

{% endblock %}

  <!-- has to be done after scripts so dialogs can work -->
{% block alerts %}
  {% for message in get_flashed_messages() %}
    <script type="text/javascript">
      toast('{{ message }}', 5000);
    </script>
  {% endfor %}
{% endblock %}

</body>

</html>
