{% extends "base.html" %}
{% from "_forms.html" import render_field %}

{% block title %}freets.me - Edit Profile{% endblock %}

{% block banner %}
{% endblock %}

{% block page_content %}

<h1>Edit Your Profile</h1>
<div class="container">
  <form method=post>
    <dl>
      {{ render_field(form.location) }}
      {{ render_field(form.email_notifications) }}
      {{ form.hidden_tag() }}
      <p>
      <input class="btn" type=submit value="Submit">
      </p>
    </dl>
  </form>
</div>

{% endblock %}
