<ul class="collection">
{% for event in events %}
  {{event.id}}
  <a href="#" class="collection-item avatar">
    <i class="mdi-maps-local-restaurant circle"></i>
    <span class="title">{{event.name}}</span>
    <span class="secondary-content badge">
    {% if event.num_attendees() > 0 %}
      {{ event.num_attendees() }} attending
    {% else %}
      No one attending yet
    {% endif %}
    </span>
  </a>


    {% if not current_user.is_authenticated() %}
      <a class="btn-floating" href="{{ url_for('auth.register') }}">
        Sign Up!
      </a>
      <a class="btn-floating" href="{{ url_for('auth.login') }}">
        Login
      </a>
      {% if event.num_attendees() > 0 %}
        {{ event.num_attendees() }} attending
      {% else %}
        No one attending yet
      {% endif %}
    {% endif %}

{% endfor %}
</ul>

