{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Pizza Time{% endblock %}

{% block page_content %}

{% if current_user.is_authenticated() %}
  <div class="page-header">
      <h1>Free food at {{ current_user.location.name }}</h1>
      <a class="btn btn-primary" href="{{ url_for('.make_event') }}">Make an Event!</a>
  </div>
{% endif %}

{% if current_user.is_authenticated() %}
  {% include 'eventlist.html' %}
{% else %}

  <!-- Register/Sign in -->
  <div class="jumbotron">
    logo.png
    <h1>freets me</h1>

    <div class="text-block">
      <div class="btn-group btn-group-lg" role="group">
      <button type="button" class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-success">Sign Up</button>
      </div>
    </div>

  </div>


  <!-- Login Modal -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="login-modal">Login</h4>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>

  <!-- Register Modal -->
  <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="register-modal">Register</h4>
        </div>
        <div class="modal-body">
          {{ wtf.quick_form(registerForm) }}
        </div>
      </div>
    </div>
  </div>

{% endif %}

{% endblock %}


