{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}freets.me{% endblock %}

{% block content %}

{% if current_user.is_authenticated() %}
  <div id="content" class="container">
  <div class="page-header">
      <h1>Free food at {{ current_user.location.name }}</h1>
      <a class="btn btn-primary" href="{{ url_for('.make_event') }}">Make an Event!</a>
  </div>
{% endif %}

{% if current_user.is_authenticated() %}
    {% include 'eventlist.html' %}
  </div>
{% else %}

  <div class="full">
    <div id="full-cont" class="container vertical-center">

      <!-- Register/Sign in -->
      <div class="col-md-6">
        <div class="jumbotron text-center">

          <img alt="Brand" src="{{ url_for('static', filename='images/logos/square.svg') }}">
          <h1>freets.me</h1>
          <p>We like free food, and we know you do too. Find your school and see the
            listings for free food on your campus. If you like freets.me,
            please register and begin adding events that provide free food.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="jumbotron text-center">
          <h3>Search for your school</h3>
          {{ wtf.quick_form(schoolSearchForm) }}

          <hr>

          <p>Sign up or login to find free food on campus!</p>

          <div class="btn-group btn-group-lg" role="group">
            <!-- Register modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registerModal">
              Sign Up!
            </button>
            <!-- Login modal -->
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#loginModal">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          {{ wtf.quick_form(registerForm) }}
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          {{ wtf.quick_form(loginForm) }}
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
