{% extends "base.html" %}

{% block title %}{{config['APP_NAME']}} - {{ location.name }}{% endblock %}

{% block banner_content %}

<h4 class="white-text">Free food at {{ location.name }}</h4>
<p class="white-text">{{ location.num_users() }} users, 
{{ location.num_events() }} events</p>

{% endblock %}

{% block page_content %}


<div class="locations panel panel-default">
  <ul class="list-group">

    <!-- List events at this location -->
    {% include 'eventlist.html' %}

  </ul>
</div>
{% endblock %}
