{% extends "base.html" %}
{% from "_forms.html" import render_field %}

{% block title %}freets.me - Making an Event{% endblock %}

{% block banner %}
{% endblock %}

{% block page_content %}

  <h1>Make Event</h1>
  <form class="form" method="post" role="form">
    {{ render_field(form.name) }}
    {{ render_field(form.serving) }}
    {{ render_field(form.place) }}
    {{ render_field(form.time) }}
    {{ render_field(form.body) }}
    {{ form.hidden_tag() }}
    <input class="btn" type=submit value="Submit">
  </form>

{% endblock %}
