{% extends "base.html" %}
{% block title %}PizzaTime - {{ user.username }}{% endblock %}


{% block banner_content %}

    <i class="mdi-action-perm-identity usr circle freets-orange z-depth-3"></i> 
    <h4 class="white-text">
    {{ user.username }} from 
    <a class="white-text" href="{{ url_for('main.location', id=user.location.id) }}">
      {{ user.location.name }}
    </a></h4>
    <p class="white-text">{{ user.num_submitted() }} submitted events</p>
    <p class="white-text">Member since {{ user.member_since.strftime('%B %d, %Y') }}</p>
  
{% endblock %}

{% block page_content %}

<div class="page-header">
  <div class="profile-header"> 
  </div>
</div>
<h3>Events by {{ user.username }}</h3>

{% if events %}
  {% include 'eventlist.html' %}
{% endif %}

{% endblock %}
