{% extends "base.html" %}
{% block title %}PizzaTime - {{ user.username }}{% endblock %}


{% block banner_content %}

    <i class="mdi-action-perm-identity usr"></i> 
    <h2 class="white-text">{{ user.username }} from {{ user.location.name }}</h2>
    <h4 class="white-text">
    <p>Member since {{ user.member_since.strftime('%B %d, %Y') }}</p>
    </h4>
  
{% endblock %}

{% block page_content %}

<div class="page-header">
  <div class="profile-header"> 
  </div>
</div>
<h3>Events by {{ user.username }}</h3>

{% if events %}
  {% include 'eventlist.html' %}
{% endif %}

{% endblock %}
